@model List<VehicleTrader.App.ViewModels.Dealers.DealerViewModel>

@{
    ViewData["Title"] = "DealersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-content" style="max-width:1532px;">

    <div class="w3-container w3-margin-top" id="dealers">
        <h3>Our dealers</h3>
    </div>

    <div class="w3-row-padding w3-padding-16">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="w3-third w3-margin-bottom">
                <img src="@Model[i].ImgUrl" style="width:100%">
                <div class="w3-container w3-white">
                    <h3>@Model[i].DealerName</h3>
                    <h6 class="w3-opacity">@Model[i].Cars cars</h6>
                    <p>@Model[i].Location</p>
                    <button class="w3-button w3-block w3-black w3-margin-bottom">Call the dealer</button>
                </div>
            </div>
        }
    </div>
</div>
